.knowledgeIcons {
  width: 10vw;
  height: 20vh;
  background-color: transparent;
  border: red solid 3px;
}

#frontEndButton,
#backEndButton,
#designerButton,
#problemButton {
  background-size: 100% 100%;
  width: 12vw;
  height: 12vw;
  border: grey solid 2px;
  border-radius: 20px;
  background-color: aliceblue;
}

#frontEndButton {
  background-image: url("../../images/front-end.png");
  position: absolute;
  top: 20vh;
  left: 10vw;
}

#backEndButton {
  background-image: url("../../images/backend-removebg-preview.png");
  position: absolute;
  top: 55vh;
  left: 10vw;
}

#designerButton {
  background-image: url("../../images/designer-removebg-preview.png");
  position: absolute;
  top: 20vh;
  right: 10vw;
}

#problemButton {
  background-image: url("../../images/problem-removebg-preview.png");
  position: absolute;
  top: 55vh;
  right: 10vw;
}

#screen {
  position: absolute;
  top: 20vh;
  left: 50vw;
  width: 38vw;
  transform: translate(-50%);
}

.skillsTitles {
  font-size: 1vw;
  border: grey solid 2px;
  background-color: yellow;
  border-radius: 20px;
  padding: 0.2vw;
  font-weight: bolder;
}

.details {
  z-index: 1;
  font-size: 1.5vw;
  text-align: left;
  position: absolute;
  left: 32.75vw;
  bottom: 46.3vh;
  height: 30vh;
  width: 34.35vw;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 37%,
    rgba(34, 193, 195, 1) 100%
  );
}

#starter {
  text-align: center;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 3.5rem; /* Footer height */
  text-align: center;
}

.socialImages {
  width: 2vw;
  height: 2vw;
  padding-left: 2em;
  padding-top: 0.5em;
  position: relative;
  right: 16px;
}
