.main {
  height: 80vh;
  background-position: contain;
  background-repeat: no-repeat;
}

#hello {
  text-align: center;
  padding: none;
}

h2 {
  font-size: 2vw;
}

textarea {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 1em;
  text-align: center;
}

.speech {
  width: 100px;
  font-weight: bold;
  margin: 18em 0 0 6em;
}

input {
  background-color: yellow;
  border: black solid 2px;
  width: 12vw;
  height: 3vw;
  border-radius: 1vw;
  font-size: 2vw;
}

input:hover {
  border: red solid 3px;
}

#letsTalk {
  margin: 4vh 0;
  padding: 8vh 0 3vh 0;
  text-align: center;
}

.submitButton {
  position: absolute;
  bottom: -50vh;
  left: 89vw;
  transform: translate(-50%);
}

#jamesPic {
  width: 20vw;
  display: block;
  margin: 0 auto;
}

#aboutMeBlurb {
  width: 86vw;
  padding: 2vw;
  margin: 0 auto;
  background-color: #f2f2f2;
  border-radius: 1em;
  font-size: 2vw;
}

#footer {
  padding-top: 1rem;
  position: absolute;
  bottom: -60vh;
  width: 100%;
  height: 2.5rem; /* Footer height */
  text-align: center;
}

.socialImages {
  width: 2vw;
  height: 2vw;
  padding-left: 2em;
  padding-top: 0.5em;
  position: relative;
  right: 16px;
}

#contactForm {
  margin-bottom: 40vh;
}
